
.ipynb_checkpoints
.DS_Store
.venv
echopype-scratchpad/one_off_notebook/.ipynb_checkpoints
echopype-scratchpad/one_off_notebook/exports
echopype-scratchpad/one_off_notebook/assets
echopype-scratchpad/one_off_notebook/DY1201_EK60-D20120214-T231011.raw
echopype-scratchpad/one_off_notebook/DY1706_EK60-D20170609-T005736.raw
echopype-scratchpad/glider_data_exploration/assets