
.ipynb_checkpoints
.DS_Store
.venv
SCRATCHPAD/one_off_notebook/.ipynb_checkpoints
SCRATCHPAD/one_off_notebook/exports
SCRATCHPAD/one_off_notebook/DY1201_EK60-D20120214-T231011.raw
SCRATCHPAD/one_off_notebook/DY1706_EK60-D20170609-T005736.raw